.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #8080805e;
    border-radius: 5px;
    margin-top: 6em;
    height: 38em;
    background: #f5f3f8;
}

.login-text {
    margin: 4em 4em 2em 4em;
    font-size: 35px;
    font-weight: bolder;
    color: #000000;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

label{
    font-size: 20px;
}

.form-control{
    margin-top: 8px;
    padding: 8px;
    font-size: 14px;
}

.form-links{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.btn {
    text-decoration: none;
    font-size: 20px;    
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: #2fd42f85;
    border: none;
}

.second-btn {
    text-decoration: none;
    font-size: 20px;    
    width: 30%;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    background: #ffa500c2;
    border: none;
}